---
- name: "Delete content view versions of {{ cv_name }}"
  theforeman.foreman.content_view_version:
    server_url: "{{ foreman_server_url | default(omit) }}"
    username: "{{ foreman_username | default(omit) }}"
    password: "{{ foreman_password | default(omit) }}"
    validate_certs: "{{ foreman_validate_certs | default(omit) }}"
    organization: "{{ foreman_organization }}"
    content_view: "{{ cv_name }}"
    version: "{{ cv_version }}"
    state: absent
  loop: "{{ cv_versions }}"
  loop_control:
    loop_var: "cv_version"
