interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://subscription.rhsm.redhat.com/subscription/users/john-smith/owners
  response:
    body:
      string: '[{"created":"2011-05-26T14:20:48+0000","updated":"2022-10-11T18:20:46+0000","id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","parentOwner":null,"contentPrefix":null,"defaultServiceLevel":null,"upstreamConsumer":null,"logLevel":null,"autobindDisabled":false,"autobindHypervisorDisabled":false,"contentAccessMode":"org_environment","contentAccessModeList":"entitlement,org_environment","lastRefreshed":"2022-10-11T18:20:46+0000","href":"/owners/6340056"}]'
    headers:
      Content-Type:
      - application/json
      x-candlepin-request-uuid:
      - 4f79e6f5-34b0-4cc4-8c23-3c16ed9ad84e
      x-version:
      - 4.0.18-3
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://subscription.rhsm.redhat.com/subscription/owners/6340056/consumers?type=satellite
  response:
    body:
      string: '[{"created":"2022-10-03T15:37:06+0000","updated":"2022-10-03T15:40:04+0000","id":"2c9424908355648701839e7e63b035c8","uuid":"0b1ae7d1-72c9-4749-912b-0ce7ffbe6588","name":"satellite-6.11-2022","username":"rsawyer@redhat.com","entitlementStatus":"disabled","serviceLevel":"","role":"","usage":"","addOns":[],"systemPurposeStatus":null,"owner":{"id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","href":"/owners/6340056"},"environment":null,"entitlementCount":13,"lastCheckin":null,"installedProducts":[],"canActivate":false,"capabilities":[{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035cd","name":"ram"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035c9","name":"cores"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035cc","name":"cert_v3"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035cb","name":"derived_product"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035ca","name":"instance_multiplier"}],"hypervisorId":null,"contentTags":[],"autoheal":true,"annotations":null,"contentAccessMode":"org_environment","type":{"id":"9","label":"satellite","manifest":true},"guestIds":[],"activationKeys":[],"href":"/consumers/0b1ae7d1-72c9-4749-912b-0ce7ffbe6588","releaseVer":{"releaseVer":null}},{"created":"2022-10-06T04:10:46+0000","updated":"2022-10-06T04:11:46+0000","id":"2c942490835564870183ab7d1b425dff","uuid":"e6814d31-d5b3-436d-ae67-b3844e72af1e","name":"sboulden-aap","username":"sboulden@redhat.com","entitlementStatus":"disabled","serviceLevel":"","role":"","usage":"","addOns":[],"systemPurposeStatus":null,"owner":{"id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","href":"/owners/6340056"},"environment":null,"entitlementCount":5[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://subscription.rhsm.redhat.com/subscription/consumers/a1d95aa6-7db5-44d4-962e-dacacde76990
  response:
    body:
      string: ''
    headers:
      x-candlepin-request-uuid:
      - d62b98f6-9bfe-43c2-8918-44ad9463ff7f
      x-version:
      - 4.0.18-3
    status:
      code: 204
      message: No Content
version: 1
