interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://subscription.rhsm.redhat.com/subscription/users/john-smith/owners
  response:
    body:
      string: '[{"created":"2011-05-26T14:20:48+0000","updated":"2022-10-11T18:20:46+0000","id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","parentOwner":null,"contentPrefix":null,"defaultServiceLevel":null,"upstreamConsumer":null,"logLevel":null,"autobindDisabled":false,"autobindHypervisorDisabled":false,"contentAccessMode":"org_environment","contentAccessModeList":"entitlement,org_environment","lastRefreshed":"2022-10-11T18:20:46+0000","href":"/owners/6340056"}]'
    headers:
      Content-Type:
      - application/json
      x-candlepin-request-uuid:
      - 857a9a62-af8d-4a49-91c5-f36aadd03b56
      x-version:
      - 4.0.18-3
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://subscription.rhsm.redhat.com/subscription/owners/6340056/consumers?type=satellite
  response:
    body:
      string: '[{"created":"2022-10-03T15:37:06+0000","updated":"2022-10-03T15:40:04+0000","id":"2c9424908355648701839e7e63b035c8","uuid":"0b1ae7d1-72c9-4749-912b-0ce7ffbe6588","name":"satellite-6.11-2022","username":"rsawyer@redhat.com","entitlementStatus":"disabled","serviceLevel":"","role":"","usage":"","addOns":[],"systemPurposeStatus":null,"owner":{"id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","href":"/owners/6340056"},"environment":null,"entitlementCount":13,"lastCheckin":null,"installedProducts":[],"canActivate":false,"capabilities":[{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035cd","name":"ram"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035c9","name":"cores"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035cc","name":"cert_v3"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035cb","name":"derived_product"},{"created":null,"updated":null,"id":"2c9424908355648701839e7e63b035ca","name":"instance_multiplier"}],"hypervisorId":null,"contentTags":[],"autoheal":true,"annotations":null,"contentAccessMode":"org_environment","type":{"id":"9","label":"satellite","manifest":true},"guestIds":[],"activationKeys":[],"href":"/consumers/0b1ae7d1-72c9-4749-912b-0ce7ffbe6588","releaseVer":{"releaseVer":null}},{"created":"2022-10-06T04:10:46+0000","updated":"2022-10-06T04:11:46+0000","id":"2c942490835564870183ab7d1b425dff","uuid":"e6814d31-d5b3-436d-ae67-b3844e72af1e","name":"sboulden-aap","username":"sboulden@redhat.com","entitlementStatus":"disabled","serviceLevel":"","role":"","usage":"","addOns":[],"systemPurposeStatus":null,"owner":{"id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","href":"/owners/6340056"},"environment":null,"entitlementCount":5[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://subscription.rhsm.redhat.com/subscription/consumers/a1d95aa6-7db5-44d4-962e-dacacde76990/entitlements
  response:
    body:
      string: '[{"created":"2022-10-12T08:00:54+0000","updated":"2022-10-12T08:00:54+0000","id":"1a3518117ab94cbaab92f429e5ae6abf","consumer":{"id":"2c9499dd83c8dfbb0183cb3593a65bb2","uuid":"a1d95aa6-7db5-44d4-962e-dacacde76990","name":"katello.example.com","href":"/consumers/a1d95aa6-7db5-44d4-962e-dacacde76990"},"pool":{"created":"2021-12-16T21:08:15+0000","updated":"2022-10-12T08:00:54+0000","id":"8a85f99a7db4827d017dc512fcad00b0","type":"NORMAL","owner":{"id":"8a85f981302cbaf201302d89931e059a","key":"6340056","displayName":"6340056","href":"/owners/6340056"},"activeSubscription":true,"sourceEntitlement":null,"quantity":10000,"startDate":"2022-01-01T05:00:00+0000","endDate":"2027-01-01T04:59:59+0000","attributes":[],"restrictedToUsername":null,"contractNumber":"12864989","accountNumber":"1460290","orderNumber":"40575396","consumed":297,"exported":268,"branding":[{"created":"2022-10-06T06:29:40+0000","updated":"2022-10-06T06:29:40+0000","productId":"479","name":"Red
        Hat Network","type":"OS"},{"created":"2022-10-06T06:29:40+0000","updated":"2022-10-06T06:29:40+0000","productId":"69","name":"Red
        Hat Network","type":"OS"}],"calculatedAttributes":{"compliance_type":"Standard"},"upstreamPoolId":null,"upstreamEntitlementId":null,"upstreamConsumerId":null,"productName":"Red
        Hat Satellite Employee Subscription","productId":"SER0232US","productAttributes":[{"name":"product_family","value":"Red
        Hat Network"},{"name":"management_enabled","value":"1"},{"name":"enabled_consumer_types","value":"satellite"},{"name":"ph_product_line","value":"Red
        Hat Satellite"},{"name":"roles","value":""},{"name":"ph_category","value":"Subscriptions"},{"name":"description","value":"Red
        Hat Network"},{"name":"support_level","value":"Self-Support"},{"name":"type","value":"MKT"},{"name":"option_code","value":"273"},{"name":"cloud_access_enabled","value":"true"},{"name":"ph_product_name","value":"Satellite
        Server"},{"name":"service_type","value":"Self-Support"},{"name":"expires_after","value":"365"},{"name":"subtype","value":"Self-Support"},{"name":"variant","value":"Satellite"},{"name":"name","value":"Red
        Hat Satellite Employee Subscription"},{"name":"sockets","value":"128"},{"name":"support_type","value":"L1-L3"},{"name":"arch","value":"aarch64,ia64,ppc,ppc64,ppc64le,s390,s390x,x86,x86_64"}],"stackId":null,"stacked":false,"sourceStackId":null,"developmentPool":false,"derivedProductAttributes":[],"derivedProductId":null,"derivedProductName":null,"providedProducts":[{"productId":"250","productName":"Red
        Hat Satellite"},{"productId":"201","productName":"Red Hat Software Collections
        (for RHEL Server)"},{"productId":"257","productName":"Red Hat Satellite Beta"},{"productId":"269","productName":"Red
        Hat Satellite Capsule"},{"productId":"408","productName":"Red Hat Ansible
        Engine"},{"productId":"262","productName":"Red Hat Satellite with Embedded
        Oracle"},{"productId":"366","productName":"Red Hat Satellite Proxy - Extended
        Life Cycle Support"},{"productId":"263","productName":"Red Hat Satellite 5
        Managed DB"},{"productId":"85","productName":"Red Hat Enterprise Linux Load
        Balancer (for RHEL Server)"},{"productId":"365","productName":"Red Hat Satellite
        5 Managed DB - Extended Life Cycle Support"},{"productId":"180","productName":"Red
        Hat Beta"},{"productId":"205","productName":"Red Hat Software Collections
        Beta (for RHEL Server)"},{"productId":"69","productName":"Red Hat Enterprise
        Linux Server"},{"productId":"479","productName":"Red Hat Enterprise Linux
        for x86_64"},{"productId":"264","productName":"Red Hat Satellite Proxy"},{"productId":"83","productName":"Red
        Hat Enterprise Linux High Availability for x86_64"},{"productId":"548","productName":"Red
        Hat Discovery"},{"productId":"364","productName":"Red Hat Satellite - Extended
        Life Cycle Support"}],"derivedProvidedProducts":[],"subscriptionSubKey":"master","subscriptionId":"10479491","locked":true,"href":"/pools/8a85f99a7db4827d017dc512fcad00b0"},"quantity":2,"certificates":[{"created":"2022-10-12T08:00:54+0000","updated":"2022-10-12T08:00:54+0000","id":"2c94cac183c8dfe60183cb35f6b46f3b","key":"-----BEGIN
        RSA PRIVATE KEY-----\nMIIJKAIBAAKCAgEAiPWPxJD9UEZhYNrzuzSqs0Q32hLouukwumNPQEE0VYmtpkvE\nnmOb+M95+sMuSinz+XCrPc85336hRTmRJuAJe9HDg792kvRirPSpHMalSsnFtVEK\nVxNeNJ0zZvw7DTxa1G3tlnO3RRqT2mfqgF8gYbadTcQX9b7BH+lqwt/5M/yHrfuC\n4kAP5QxNEvAm8A2vszqwlad50cFSZGzUmTZTL1TLOka6T1rD68iiTJDJ9i92JxHx\nwuis9K3aO0+N1lmgnXGDMko6sRqCOFBZF75cbyFOgaok+68uIyK2wymdp1yLsOrw\n2Px6XZ[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://subscription.rhsm.redhat.com/subscription/consumers/a1d95aa6-7db5-44d4-962e-dacacde76990/entitlements/1a3518117ab94cbaab92f429e5ae6abf
  response:
    body:
      string: ''
    headers:
      x-candlepin-request-uuid:
      - 9ef08794-4cd8-4593-94cc-8a475afe4f3b
      x-version:
      - 4.0.18-3
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://subscription.rhsm.redhat.com/subscription/consumers/a1d95aa6-7db5-44d4-962e-dacacde76990/entitlements?pool=8a85f99a7db4827d017dc512fcad00b0&quantity=1
  response:
    body:
      string: '[{"created":"2022-10-12T08:01:10+0000","updated":"2022-10-12T08:01:10+0000","id":"28284c24760c41bfb16aa16a519101cf","consumer":{"id":"2c9499dd83c8dfbb0183cb3593a65bb2","uuid":"a1d95aa6-7db5-44d4[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://subscription.rhsm.redhat.com/subscription/consumers/a1d95aa6-7db5-44d4-962e-dacacde76990/export
  response:
    body:
      string: !!binary |
        UEsDBBQACAgIACZATFUAAAAAAAAAAAAAAAATAAAAY29uc3VtZXJfZXhwb3J0LnppcHy4Y4wmbLC1
        27Zt2zanbduadj9tu6dtTE/btm3btm37Oe/eycl3/pzvTlbupFKprOT6U7WU5cAhMEBgYGBAqETk
        NUD+Pw/lP1l4OgKcXZntLVxNmGxcAA6U0/1wYKwIEHMB4xp6CzRtT0UeqMg/Iq[...]
