interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy7.dev.atix/api/status
  response:
    body:
      string: '{"result":"ok","status":200,"version":"1.22.2","api_version":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e612cd0fc3b87191ffd37e102d3a45f8"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy7.dev.atix/katello/api/organizations?search=name%3D%22Test+Organization%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"Test Organization\\\"\",\n  \"sort\"\
        : {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"label\"\
        :\"Test_Organization\",\"created_at\":\"2019-12-16 12:54:04 UTC\",\"updated_at\"\
        :\"2019-12-16 12:54:04 UTC\",\"id\":9,\"name\":\"Test Organization\",\"title\"\
        :\"Test Organization\",\"description\":\"A test organization\"}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c3ccfa9f8726a96007d1214f798e9498-gzip"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy7.dev.atix/api/v2/scc_accounts?organization_id=9&search=name%3D%22testaccount%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 1,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"name=\\\"testaccount\\\"\",\n  \"sort\": {\n\
        \    \"by\": null,\n    \"order\": null\n  },\n  \"results\": [{\"organization_id\"\
        :9,\"organization_name\":\"Test Organization\",\"login\":\"UC3993\",\"base_url\"\
        :\"https://scc.suse.com\",\"interval\":\"never\",\"sync_date\":\"2019-12-16\
        \ 12:54:12 UTC\",\"id\":13,\"name\":\"testaccount\"}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"713e66513bfc59d1259debfc2ebd528c-gzip"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy7.dev.atix/api/v2/scc_accounts/13/scc_products?search=friendly_name%3D%22SUSE+Linux+Enterprise+Client+Tools+10+SP3+i586%22&per_page=4294967296
  response:
    body:
      string: "{\n  \"total\": 344,\n  \"subtotal\": 1,\n  \"page\": 1,\n  \"per_page\"\
        : 4294967296,\n  \"search\": \"friendly_name=\\\"SUSE Linux Enterprise Client\
        \ Tools 10 SP3 i586\\\"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\"\
        : null\n  },\n  \"results\": [{\"scc_account_id\":13,\"name\":\"SUSE Linux\
        \ Enterprise Client Tools\",\"arch\":\"i586\",\"friendly_name\":\"SUSE Linux\
        \ Enterprise Client Tools 10 SP3 i586\",\"description\":\"SUSE Linux Enterprise\
        \ Client Tools 10\",\"scc_id\":1684,\"product_id\":null,\"id\":4056}]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b430be49298cbad62df803b4d199b816-gzip"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy7.dev.atix/api/v2/scc_accounts/13/scc_products/4056
  response:
    body:
      string: '{"scc_account_id":13,"name":"SUSE Linux Enterprise Client Tools","arch":"i586","friendly_name":"SUSE
        Linux Enterprise Client Tools 10 SP3 i586","description":"SUSE Linux Enterprise
        Client Tools 10","scc_id":1684,"product_id":null,"id":4056}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c9b6f757f43dcb7e74772e14e7d46b95-gzip"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://or.deploy7.dev.atix/api/v2/scc_accounts/13/scc_products/4056/subscribe
  response:
    body:
      string: '{"id":"37bbd7b4-3945-41c6-99c4-4dd5893e7b86","label":"Actions::SccManager::SubscribeProduct","started_at":"2019-12-16T12:57:17.000Z","ended_at":null,"state":"planned","result":"pending","external_id":"124a4298-d0ba-441f-a762-1f08e9cd1a4c","parent_task_id":null,"start_at":"2019-12-16T12:57:17.645Z","start_before":null,"action":"Subscribe
        SCC Product","state_updated_at":"2019-12-16T12:57:17.767Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"087f859de0c99b0d15b021025cf96c09-gzip"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy7.dev.atix/foreman_tasks/api/tasks/37bbd7b4-3945-41c6-99c4-4dd5893e7b86
  response:
    body:
      string: '{"id":"37bbd7b4-3945-41c6-99c4-4dd5893e7b86","label":"Actions::SccManager::SubscribeProduct","pending":true,"action":"Subscribe
        SCC Product","username":"admin","started_at":"2019-12-16 12:57:17 UTC","ended_at":null,"state":"running","result":"pending","progress":0.3333333333333333,"input":{"scc_product":{"id":4056,"name":"SUSE
        Linux Enterprise Client Tools"},"product_id":{"class":"Dynflow::ExecutionPlan::OutputReference","execution_plan_id":"124a4298-d0ba-441f-a762-1f08e9cd1a4c","step_id":3,"action_id":2,"subkeys":["product_id"]},"current_request_id":null,"current_timezone":"UTC","current_user_id":4,"current_organization_id":null,"current_location_id":null},"output":{},"humanized":{"action":"Subscribe
        SCC Product","input":[],"output":"","errors":[]},"cli_example":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"878d432cf7b73d9bc6add592ee5993ea-gzip"
      Foreman_api_version:
      - '2'
      Foreman_version:
      - 1.22.2
      Status:
      - 200 OK
    status:
      code: 200
      message: OK
[...]
