dist: xenial
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
addons:
  apt:
    packages:
      - rpm
  pip:
    packages:
      - pytest-travis-fold
install: make test-setup doc-setup
script: make lint sanity test dist doc
