flake8
pytest
pytest-xdist
vcrpy
ansible_runner
python-debian
rpm-py-installer
docker
-r requirements.txt
-r https://github.com/ansible/ansible/raw/devel/test/lib/ansible_test/_data/requirements/sanity.pylint.txt
-r https://github.com/ansible/ansible/raw/devel/test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
