pytest
pytest-xdist
pytest-clarity; python_version >= '3.6'
vcrpy
ansible_runner<2.0; python_version < '3.6'
ansible_runner; python_version >= '3.6'
python-debian<0.1.40; python_version < '3.7'
python-debian; python_version >= '3.7'
rpm-py-installer
rstcheck
docker
ruamel.yaml.clib<0.2.3; python_version < '3.6'
cryptography<3.1; python_version < '3.6'
-r requirements-lint.txt
-r requirements.txt
pylint==2.6.0; python_version >= '3.6'
voluptuous==0.12.1 # from https://github.com/ansible/ansible/raw/devel/test/lib/ansible_test/_data/requirements/sanity.validate-modules.txt
