interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: !!python/unicode '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_resources?per_page=4294967296&search=name%3D%22Test+Compute+Resource%22&thin=False
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"Test Compute Resource\\\
        \"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"description\":\"\",\"url\":\"qemu+ssh://libvirtuser@localhost/system\"\
        ,\"created_at\":\"2019-07-03 10:38:37 UTC\",\"updated_at\":\"2019-07-03 11:39:51\
        \ UTC\",\"id\":6,\"name\":\"Test Compute Resource\",\"provider\":\"Libvirt\"\
        ,\"provider_friendly_name\":\"Libvirt\",\"display_type\":\"vnc\",\"set_console_password\"\
        :true}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"45bbc4ae17b27a156b1547d3c08ad19a"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_resources/6
  response:
    body:
      string: !!python/unicode '{"description":"","url":"qemu+ssh://libvirtuser@localhost/system","created_at":"2019-07-03
        10:38:37 UTC","updated_at":"2019-07-03 11:39:51 UTC","id":6,"name":"Test Compute
        Resource","provider":"Libvirt","provider_friendly_name":"Libvirt","display_type":"vnc","set_console_password":true,"images":[],"compute_attributes":[{"id":3,"name":"2
        CPUs and 2 GB memory","compute_resource_id":6,"compute_resource_name":"Test
        Compute Resource","provider_friendly_name":"Libvirt","compute_profile_id":6,"compute_profile_name":"Test
        Compute Profile","vm_attrs":{"cpus":2,"memory":2147483648},"attributes":{"cpus":2,"memory":2147483648,"image_id":null,"image_name":null,"volumes_attributes":{},"interfaces_attributes":{}}}],"locations":[{"id":3,"name":"Test
        Location","title":"Test Location","description":null}],"organizations":[{"id":4,"name":"Test
        Organization","title":"Test Organization","description":"A test organization"}]}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f6a028b91ae73fb36f7caa31edf9015"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/compute_profiles?per_page=4294967296&search=name%3D%22Test+Compute+Profile%22&thin=True
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 5,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"Test Compute Profile\\\
        \"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"created_at\":\"2019-07-03 09:29:07 UTC\",\"updated_at\":\"2019-07-03\
        \ 09:29:07 UTC\",\"id\":6,\"name\":\"Test Compute Profile\"}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"40cc6c71f607f0a58ce58f7aace1d22b"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
