interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: !!python/unicode '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/common_parameters?per_page=4294967296&search=name%3D%22TheAnswer%22&thin=False
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 7,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"TheAnswer\\\"\"\
        ,\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"created_at\":\"2019-07-04 11:29:01 UTC\",\"updated_at\":\"2019-07-04\
        \ 11:29:01 UTC\",\"hidden_value?\":false,\"hidden_value\":\"*****\",\"id\"\
        :21,\"name\":\"TheAnswer\",\"value\":\"42\"}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"45f399aaa5aca9d0575dfb163cb70631"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/common_parameters/21
  response:
    body:
      string: !!python/unicode '{"created_at":"2019-07-04 11:29:01 UTC","updated_at":"2019-07-04
        11:29:01 UTC","hidden_value?":false,"hidden_value":"*****","id":21,"name":"TheAnswer","value":"42"}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7f0e337d291427f2e1c6799de1b61041"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"common_parameter": {"value": "forty-two"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://or.deploy6.dev.atix/api/common_parameters/21
  response:
    body:
      string: !!python/unicode '{"created_at":"2019-07-04 11:29:01 UTC","updated_at":"2019-07-04
        11:29:04 UTC","hidden_value?":false,"hidden_value":"*****","id":21,"name":"TheAnswer","value":"forty-two"}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e3773ed23f8f00dcaf89d27b2dcd4ab2"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
