interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: !!python/unicode '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/common_parameters?per_page=4294967296&search=name%3D%22TheAnswer%22&thin=False
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 6,\n  \"subtotal\": 0,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"TheAnswer\\\"\"\
        ,\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : []\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3e95fcb17c4a3e9349845aa9d79a121e"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"common_parameter": {"name": "TheAnswer", "value": "42"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://or.deploy6.dev.atix/api/common_parameters
  response:
    body:
      string: !!python/unicode '{"created_at":"2019-07-04 11:29:01 UTC","updated_at":"2019-07-04
        11:29:01 UTC","hidden_value?":false,"hidden_value":"*****","id":21,"name":"TheAnswer","value":"42"}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7f0e337d291427f2e1c6799de1b61041"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 201 Created
    status:
      code: 201
      message: Created
version: 1
