interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: !!python/unicode '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/architectures?per_page=4294967296&search=name%3D%22x86_64%22&thin=True
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 2,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"x86_64\\\"\",\n\
        \  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"created_at\":\"2019-06-25 08:59:48 UTC\",\"updated_at\":\"2019-06-25\
        \ 08:59:48 UTC\",\"name\":\"x86_64\",\"id\":1}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"45cc12d489535f7b9b49f4b326b71f36"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/operatingsystems?per_page=4294967296&search=name%3D%22TestOS%22&thin=True
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 9,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"TestOS\\\"\",\n\
        \  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"description\":null,\"major\":\"1\",\"minor\":\"2\",\"family\":\"Debian\"\
        ,\"release_name\":\"reverse whip\",\"password_hash\":\"SHA256\",\"created_at\"\
        :\"2019-07-04 10:11:02 UTC\",\"updated_at\":\"2019-07-04 10:11:02 UTC\",\"\
        id\":19,\"name\":\"TestOS\",\"title\":\"TestOS 1.2\"}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f019327fa5df3712b6194f1953061dde"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/media?per_page=4294967296&search=name%3D%22Temple+OS+1.0%22&thin=True
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 10,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"Temple OS 1.0\\\
        \"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"path\":\"https://templeos.org/TempleOS.ISO\",\"os_family\":\"Debian\"\
        ,\"created_at\":\"2019-07-04 10:52:26 UTC\",\"updated_at\":\"2019-07-04 10:52:26\
        \ UTC\",\"id\":20,\"name\":\"Temple OS 1.0\"}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0ce42b4647089d1d0ffc3d3cc3f4c3eb"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/ptables?per_page=4294967296&search=name%3D%22Timetravel+finish%22&thin=True
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 16,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"Timetravel finish\\\
        \"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"os_family\":null,\"created_at\":\"2019-07-04 10:52:24 UTC\",\"updated_at\"\
        :\"2019-07-04 10:52:24 UTC\",\"name\":\"Timetravel finish\",\"id\":175}]\n\
        }\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ed0de0c3cb39e28bc9ce32fdfea5eb14"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hostgroups?per_page=4294967296&search=name%3D%22test_hostgroup%22&thin=False
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 3,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"test_hostgroup\\\
        \"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"subnet_id\":null,\"subnet_name\":null,\"operatingsystem_id\":19,\"operatingsystem_name\"\
        :\"TestOS 1.2\",\"domain_id\":null,\"domain_name\":null,\"environment_id\"\
        :null,\"environment_name\":null,\"compute_profile_id\":null,\"compute_profile_name\"\
        :null,\"ancestry\":null,\"parent_id\":null,\"parent_name\":null,\"ptable_id\"\
        :175,\"ptable_name\":\"Timetravel finish\",\"medium_id\":20,\"medium_name\"\
        :\"Temple OS 1.0\",\"pxe_loader\":null,\"subnet6_id\":null,\"subnet6_name\"\
        :null,\"architecture_id\":1,\"architecture_name\":\"x86_64\",\"realm_id\"\
        :null,\"realm_name\":null,\"created_at\":\"2019-07-04 10:52:27 UTC\",\"updated_at\"\
        :\"2019-07-04 10:52:27 UTC\",\"id\":111,\"name\":\"test_hostgroup\",\"title\"\
        :\"test_hostgroup\",\"description\":\"New host group\",\"puppet_proxy_id\"\
        :null,\"puppet_proxy_name\":null,\"puppet_ca_proxy_id\":null,\"puppet_ca_proxy_name\"\
        :null,\"openscap_proxy_id\":null,\"openscap_proxy_name\":null,\"puppet_proxy\"\
        :null,\"puppet_ca_proxy\":null,\"openscap_proxy\":null}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2a1391a5202cb15458fb4a923531c5b1"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hostgroups/111
  response:
    body:
      string: !!python/unicode '{"content_source_id":null,"content_source_name":null,"content_view_id":null,"content_view_name":null,"lifecycle_environment_id":null,"lifecycle_environment_name":null,"kickstart_repository_id":null,"kickstart_repository_name":null,"subnet_id":null,"subnet_name":null,"operatingsystem_id":19,"operatingsystem_name":"TestOS
        1.2","domain_id":null,"domain_name":null,"environment_id":null,"environment_name":null,"compute_profile_id":null,"compute_profile_name":null,"ancestry":null,"parent_id":null,"parent_name":null,"ptable_id":175,"ptable_name":"Timetravel
        finish","medium_id":20,"medium_name":"Temple OS 1.0","pxe_loader":null,"subnet6_id":null,"subnet6_name":null,"architecture_id":1,"architecture_name":"x86_64","realm_id":null,"realm_name":null,"created_at":"2019-07-04
        10:52:27 UTC","updated_at":"2019-07-04 10:52:27 UTC","id":111,"name":"test_hostgroup","title":"test_hostgroup","description":"New
        host group","puppet_proxy_id":null,"puppet_proxy_name":null,"puppet_ca_proxy_id":null,"puppet_ca_proxy_name":null,"openscap_proxy_id":null,"openscap_proxy_name":null,"puppet_proxy":null,"puppet_ca_proxy":null,"openscap_proxy":null,"parameters":[],"template_combinations":[],"puppetclasses":[],"config_groups":[],"all_puppetclasses":[],"locations":[],"organizations":[]}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"557acc57fdfa391ab67463b320264fdf"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
