interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/status
  response:
    body:
      string: !!python/unicode '{"result":"ok","status":200,"version":"1.21.3","api_version":2}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8ae0d3efe0e232e2a73486dc1f2e0fbb"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hostgroups?per_page=4294967296&search=name%3D%22test_hostgroup%22&thin=False
  response:
    body:
      string: !!python/unicode "{\n  \"total\": 3,\n  \"subtotal\": 1,\n  \"page\"\
        : 1,\n  \"per_page\": 4294967296,\n  \"search\": \"name=\\\"test_hostgroup\\\
        \"\",\n  \"sort\": {\n    \"by\": null,\n    \"order\": null\n  },\n  \"results\"\
        : [{\"subnet_id\":null,\"subnet_name\":null,\"operatingsystem_id\":19,\"operatingsystem_name\"\
        :\"TestOS 1.2\",\"domain_id\":null,\"domain_name\":null,\"environment_id\"\
        :null,\"environment_name\":null,\"compute_profile_id\":null,\"compute_profile_name\"\
        :null,\"ancestry\":null,\"parent_id\":null,\"parent_name\":null,\"ptable_id\"\
        :175,\"ptable_name\":\"Timetravel finish\",\"medium_id\":20,\"medium_name\"\
        :\"Temple OS 1.0\",\"pxe_loader\":null,\"subnet6_id\":null,\"subnet6_name\"\
        :null,\"architecture_id\":1,\"architecture_name\":\"x86_64\",\"realm_id\"\
        :null,\"realm_name\":null,\"created_at\":\"2019-07-04 10:52:27 UTC\",\"updated_at\"\
        :\"2019-07-04 10:52:34 UTC\",\"id\":111,\"name\":\"test_hostgroup\",\"title\"\
        :\"test_hostgroup\",\"description\":\"Test host group\",\"puppet_proxy_id\"\
        :null,\"puppet_proxy_name\":null,\"puppet_ca_proxy_id\":null,\"puppet_ca_proxy_name\"\
        :null,\"openscap_proxy_id\":null,\"openscap_proxy_name\":null,\"puppet_proxy\"\
        :null,\"puppet_ca_proxy\":null,\"openscap_proxy\":null}]\n}\n"
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dc4113f1dadff21cdb7a1e44c64e7c5d"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://or.deploy6.dev.atix/api/hostgroups/111
  response:
    body:
      string: !!python/unicode '{"content_source_id":null,"content_source_name":null,"content_view_id":null,"content_view_name":null,"lifecycle_environment_id":null,"lifecycle_environment_name":null,"kickstart_repository_id":null,"kickstart_repository_name":null,"subnet_id":null,"subnet_name":null,"operatingsystem_id":19,"operatingsystem_name":"TestOS
        1.2","domain_id":null,"domain_name":null,"environment_id":null,"environment_name":null,"compute_profile_id":null,"compute_profile_name":null,"ancestry":null,"parent_id":null,"parent_name":null,"ptable_id":175,"ptable_name":"Timetravel
        finish","medium_id":20,"medium_name":"Temple OS 1.0","pxe_loader":null,"subnet6_id":null,"subnet6_name":null,"architecture_id":1,"architecture_name":"x86_64","realm_id":null,"realm_name":null,"created_at":"2019-07-04
        10:52:27 UTC","updated_at":"2019-07-04 10:52:34 UTC","id":111,"name":"test_hostgroup","title":"test_hostgroup","description":"Test
        host group","puppet_proxy_id":null,"puppet_proxy_name":null,"puppet_ca_proxy_id":null,"puppet_ca_proxy_name":null,"openscap_proxy_id":null,"openscap_proxy_name":null,"puppet_proxy":null,"puppet_ca_proxy":null,"openscap_proxy":null,"parameters":[],"template_combinations":[],"puppetclasses":[],"config_groups":[],"all_puppetclasses":[],"locations":[],"organizations":[]}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a5b3c87081a128b0cfb57ed90a48cb01"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://or.deploy6.dev.atix/api/hostgroups/111
  response:
    body:
      string: !!python/unicode '{"id":111,"name":"test_hostgroup","created_at":"2019-07-04T10:52:27.919Z","updated_at":"2019-07-04T10:52:34.406Z","environment_id":null,"operatingsystem_id":19,"architecture_id":1,"medium_id":20,"ptable_id":175,"root_pass":"$5$5c563bhz58dbQt2o$ok3T9HPAM/5ygjr.WQEe/U1a6RXt77ZqRhsvm.wNoQ6","puppet_ca_proxy_id":null,"use_image":null,"image_file":"","ancestry":null,"vm_defaults":null,"subnet_id":null,"domain_id":null,"puppet_proxy_id":null,"title":"test_hostgroup","realm_id":null,"compute_profile_id":null,"content_source_id":null,"grub_pass":"$6$48cCrPoGcZJHITZ2$1dzPg95xlKMroRLjxKSWeuSU8pq.EHQRkhl4NGDbaRHTVU80Jp7.qGwVGoCc12f5lbm2Rh9oFo0qu4L61./Ay/","content_view_id":null,"lifecycle_environment_id":null,"lookup_value_matcher":"hostgroup=test_hostgroup","kickstart_repository_id":null,"subnet6_id":null,"pxe_loader":null,"description":"Test
        host group","compute_resource_id":null,"openscap_proxy_id":null,"salt_proxy_id":null,"salt_environment_id":null}'
    headers:
      apipie-checksum:
      - 1226a706415b816a8d8e0606e65431f4e2ceadd3
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a3ade3b99b550a9b79dc5e01851e16f"
      foreman_api_version:
      - '2'
      foreman_version:
      - 1.21.3
      status:
      - 200 OK
    status:
      code: 200
      message: OK
version: 1
