interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://subscription.rhn.redhat.com/subscription/users/john-smith/owners
  response:
    body: {string: !!python/unicode '[{"parentOwner":null,"id":"8a85f9812eda6533012edc44bcfe005e","key":"5318211","displayName":"5318211","contentPrefix":null,"defaultServiceLevel":null,"upstreamConsumer":null,"logLevel":null,"autobindDisabled":null,"contentAccessMode":null,"contentAccessModeList":null,"href":"/owners/5318211","created":"2011-03-22T06:33:35+0000","updated":"2011-03-22T06:33:35+0000"}]'}
    headers:
      content-type: [application/json]
      x-candlepin-request-uuid: [783c7190-4b6b-42a8-881c-b5fccf3526bb]
      x-version: [2.0.43-1]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://subscription.rhn.redhat.com/subscription/owners/5318211/consumers?type=satellite
  response:
    body: {string: !!python/unicode '[{"id":"8a85f981537a13db01537c677da76ea0","uuid":"52cda734-41c2-4ccd-9e57-bb15f290f065","name":"Dokeos-Training","username":"rhn-gps-rwyse","entitlementStatus":null,"serviceLevel":"","releaseVer":{"releaseVer":null},"type":{"id":"9","label":"satellite","manifest":true},"owner":{"id":"8a85f9812eda6533012edc44bcfe005e","key":"5318211","displayName":"5318211","href":"/owners/5318211"},"environment":null,"entitlementCount":5,"lastCheckin":"2017-10-20T16:03:08+0000","installedProducts":[],"canActivate":false,"guestIds":[],"capabilities":[{"id":"8a85f9815f39b159015f3a8361be2292","name":"hypervisors_async"},{"id":"8a85f9815f39b159015f3a8361be2293","name":"derived_product"},{"id":"8a85f9815f39b159015f3a8361be2294","name":"ram"},{"id":"8a85f9815f39b159015f3a8361be2295","name":"org_level_content_access"},{"id":"8a85f9815f39b159015f3a8361be2296","name":"guest_limit"},{"id":"8a85f9815f39b159015f3a8361be2297","name":"cert_v3"},{"id":"8a85f9815f39b159015f3a8361be2298","name":"batch_bind"},{"id":"8a85f9815f39b159015f3a8361be229a","name":"cores"},{"id":"8a85f9815f39b159015f3a8361be2299","name":"storage_band"},{"id":"8a85f9815f39b159015f3a8361bf229d","name":"instance_multiplier"},{"id":"8a85f9815f39b159015f3a8361be229c","name":"vcpu"},{"id":"8a85f9815f39b159015f3a8361be229b","name":"remove_by_pool_id"}],"hypervisorId":null,"contentTags":[],"autoheal":true,"contentAccessMode":null,"annotations":null,"dev":false,"href":"/consumers/52cda734-41c2-4ccd-9e57-bb15f290f065","created":"2016-03-15T22:31:10+0000","updated":"2017-11-24T10:37:40+0000"},{"id":"8a85f9815380275a015381193a92131a","uuid":"3ce4a967-94c9-4fcd-bcd6-af62bcf4cb33","name":"srhss1","username":"rhn-gps-jgerdes","entitlementStatus":null,"serviceLevel":"","releaseVer":{"releaseVer":null},"type":{"id":"9","label":"satellite","manifest":true},"owner":{"id":"8a85f9812eda6533012edc44bcfe005e","key":"5318211","displayName":"5318211","href":"/ow[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://subscription.rhn.redhat.com/subscription/consumers/927e45fe-f1c3-4823-979a-540e9beaac09/entitlements
  response:
    body: {string: !!python/unicode '[{"id":"8a85f98461b268e50161b30f4e1a356c","consumer":{"id":"8a85f98361b1ef310161b30ecebe50e0","uuid":"927e45fe-f1c3-4823-979a-540e9beaac09","name":"katello.example.com","href":"/consumers/927e45fe-f1c3-4823-979a-540e9beaac09"},"pool":{"id":"8a85f98c60357f09016035897d6800a7","type":"NORMAL","owner":{"id":"8a85f9812eda6533012edc44bcfe005e","key":"5318211","displayName":"5318211","href":"/owners/5318211"},"activeSubscription":true,"sourceEntitlement":null,"quantity":25,"startDate":"2017-12-08T05:00:00+0000","endDate":"2018-03-08T04:59:59+0000","attributes":[],"restrictedToUsername":null,"contractNumber":"11543938","accountNumber":"901532","orderNumber":null,"consumed":7,"exported":7,"branding":[],"calculatedAttributes":{"compliance_type":"Standard"},"upstreamPoolId":null,"upstreamEntitlementId":null,"upstreamConsumerId":null,"derivedProductAttributes":[],"productAttributes":[{"name":"cloud_access_enabled","value":"true"},{"name":"support_type","value":"L1-L3"},{"name":"management_enabled","value":"1"},{"name":"expires_after","value":"90"},{"name":"arch","value":"s390x,x86_64"},{"name":"ph_product_name","value":"Satellite
        Server"},{"name":"enabled_consumer_types","value":"satellite"},{"name":"description","value":"Red
        Hat Satellite"},{"name":"subtype","value":"Self-Support"},{"name":"product_family","value":"Red
        Hat Satellite"},{"name":"name","value":"Red Hat Satellite Capsule Beta"},{"name":"support_level","value":"Self-Support"},{"name":"ph_product_line","value":"Red
        Hat Satellite"},{"name":"ph_category","value":"Subscriptions"},{"name":"type","value":"MKT"},{"name":"variant","value":"Satellite
        Beta"}],"derivedProductName":null,"productId":"MCT3098","derivedProductId":null,"href":"/pools/8a85f98c60357f09016035897d6800a7","stacked":false,"stackId":null,"developmentPool":false,"productName":"Red
        Hat Satellite Capsule Beta","created":"2017-12-08T09:51:31+0000","updated":"2018-02-20T11:53:00+0000","providedProducts":[{"productId":"258","productName":"Red
        Hat Satellite Capsule Beta"},{"productId":"368","productName":"Red Hat Satellite
        5 Proxy Beta"}],"derivedProvidedProducts":[],"subscriptionId":"4957006","sourceStackId":null,"subscriptionSubKey":"master"},"certificates":[{"key":"-----BEGIN
        RSA PRIVATE KEY-----\nMIIEpQIBAAKCAQEAuADrQ846Fr4/wrY+tdgtUwTkJWLKNDE+zZoNJRFrkU9ou46y\n1fll/KmLkt4X0CkNBHbrT+tsYUH5FPPQnCUoQRpTWdYWHsbKZpWA9l9zEVvNDxm9\nwS1UbZxbqeM91Q3r7yfux+REygO+R2CIMekI4/gssCxnqGCNzOwhE3oebZrrT9Va\nJ/AZCdQmx8SPRnzIIjJRejvfTEf14hacnC3JilqkBLTWmwDCqVEsbYVXxQiwQIT4\njyY0fzHziSL634GmTzibPrBJW9XffRh5BVYfCs93tFbmqP8buc3F5NhkTzCTnKmL\nnyjFYEZYtcgftQwOb6URgzOlw2DK9Q3rRyrEnwIDAQABAoIBAQCgN6SjSOnJreTE\n/X1DR7XHiQXDC+83XP3rds0lTrLUN0nhrpJHwL6uL08qFhq0FVqRXZ[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://subscription.rhn.redhat.com/subscription/consumers/927e45fe-f1c3-4823-979a-540e9beaac09/entitlements/8a85f98461b268e50161b30f4e1a356c
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-candlepin-request-uuid: [3d2a38ac-3b01-454a-ad05-4b2a003f7251]
      x-version: [2.0.43-1]
    status: {code: 204, message: No Content}
[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://subscription.rhn.redhat.com/subscription/consumers/927e45fe-f1c3-4823-979a-540e9beaac09/entitlements?pool=8a85f98c60357f09016035897d6800a7&quantity=1
  response:
    body: {string: !!python/unicode '[{"id":"8a85f98161b201550161b30fa0854ca5","consumer":{"id":"8a85f98361b1ef310161b30ecebe50e0","uuid":"927e45fe-f1c3-4823-979a-540e9beaac09","name":"katello.example.com","hr[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://subscription.rhn.redhat.com/subscription/consumers/927e45fe-f1c3-4823-979a-540e9beaac09/export
  response:
    body:
      string: !!binary |
        UEsDBBQACAgIAKw2VEwAAAAAAAAAAAAAAAATAAAAY29uc3VtZXJfZXhwb3J0LnppcJy4A4wt7ba2
        3bZt27Zt27Zt27ZtazVX2+7Vtm3ze9/9n+x99p+D5FRSNWrOSsY1n/sZqcxcCtLAICgAEBAQADVs
        KjIA/+ng/Os09XCwd3KhN7VzsXSxMbX9qzrTcxhysJpxcjCyMRoxMTCysjL8fcfMYGbIwMHKYmzI
        SmflbG/X6rUSdyCR9lyNcq+2Re2VCPqJ7pIkEYnSs4HDchp72sOx6v4jnGnaZFVl3hmoS4hMKYYj
        hvORS5/0eSKN1+PjR+iLJE+BRLYLEGiAE563o0BxR4g0KoTv/3ZVapt1f/TA758ADwkxDA8pAuh5
        G1sChygolOAPcH9QHBtY4rNI8g5Vl10a93ECVLsz+uTh3VdT3vR5JY6[...]
