---
# Parameter for all tests
foreman_username: admin
foreman_password: "changeme"
foreman_server_url: "https://foreman.example.com"
foreman_validate_certs: false

# Parameter for domain test
domain_dns_proxy: "centos7-devel.example.com"

# Parameter for redhat_manifest test
manifest_name: "katello.example.com"
rhsm_username: "john-smith"
rhsm_password: "changeme"
rhsm_pool_id: 8a85f98c60357f09016035897d6800a7
rhsm_validate_certs: false
...
