content_credentials:
{% for cred in satellite_config_dump_creds.resources %}
  - name: "{{ cred.name }}"
    organization: "{{ cred.organization.name }}"
    content_type: "{{ cred.content_type }}"
    content: | 
      {{ cred.content | indent(6) }}
    state: present
{% endfor %}
