name: CI

on: [push, pull_request]

env:
  COLORTERM: 'yes'
  TERM: 'xterm-256color'
  PYTEST_ADDOPTS: '--color=yes'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["2.7", "3.5", "3.6", "3.7"]
        ansible:
          - stable-2.8
          - stable-2.9
          - stable-2.10
          - devel
        exclude:
          - python: "2.7"
            ansible: "stable-2.8"
          - python: "2.7"
            ansible: "stable-2.9"
          - python: "2.7"
            ansible: "stable-2.10"
          - python: "3.5"
            ansible: "stable-2.8"
          - python: "3.5"
            ansible: "stable-2.9"
          - python: "3.5"
            ansible: "stable-2.10"
          - python: "3.6"
            ansible: "stable-2.8"
          - python: "3.6"
            ansible: "stable-2.9"
          - python: "3.6"
            ansible: "stable-2.10"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.1.1
        with:
          python-version: ${{ matrix.python }}
      - name: Install Ansible
        run: pip install git+https://github.com/ansible/ansible.git@${{ matrix.ansible }}
      - name: Set Environment to use mazer
        run: |
          echo "::set-env name=COLLECTION_COMMAND::mazer"
          echo "::set-env name=COLLECTION_COMMAND_SUFFIX::"
          pip install mazer
        if: matrix.ansible == 'stable-2.8'
      - name: Install dependencies
        run: make test-setup
      - name: fake redhat-uep.pem for redhat_manifest module
        run: sudo mkdir -p /etc/rhsm/ca/ && sudo touch /etc/rhsm/ca/redhat-uep.pem
      - name: Install Ansible devel specific dependencies
        run: ansible-galaxy collection install community.general
        if: matrix.ansible == 'devel' || matrix.ansible == 'stable-2.10'
      - name: Run basic tests
        run: make test-crud test-other
      - name: Run Ansible devel specific tests
        run: make SANITY_OPTS="--local" sanity dist-test
        if: matrix.ansible == 'devel'

  checkmode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.1.1
        with:
          python-version: "3.7"
      - name: Install Ansible
        run: pip install ansible
      - name: Install dependencies
        run: make test-setup
      - name: Run check_mode tests
        run: make test-check-mode

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.1.1
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: make doc-setup
      - name: Run tests
        run: make doc

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2.1.1
        with:
          python-version: "3.7"
      - name: Install dependencies
        run: pip install flake8 yamllint
      - name: Run lint
        run: make lint
