name: release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.repository == 'theforeman/foreman-ansible-modules'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install Ansible
        run: pip install --upgrade ansible py
      - name: Build Ansible Collection
        run: make dist
      - name: Deploy Ansible Collection
        run: make publish GALAXY_API_KEY=${{ secrets.GALAXY_API_KEY }}
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: theforeman-foreman-*.tar.gz
